.lists-wrapper {
  .add-list {
    width: 20rem;
    margin: auto;
  }
  .lists {
    display: flex;
    align-items: center;
    flex-direction: column;
    .lists-item {
      margin-top: 1rem;
      background-color: #26292f;
      width: 50rem;
      .MuiAccordionSummary-content {
        display: flex;
        justify-content: center;
      }
      .lists-item-header {
        a {
          color: #b2bac2;
          text-decoration: none; 
          &:hover {
            color: #1a1b22;
          }
        }
      }
      .MuiAccordionDetails-root {
        margin: 0 10rem;
        color: #b2bac2;
        display: flex;
        justify-content: space-between;
        .stage-name {
          padding: 0.5rem 1rem;
          border-radius: 8px;
          background-color: #1a1b22;
        }
      }
   }
  }
  
}