.list-wrapper {
  display: flex;
  justify-content: center;
  h2 {
    margin: 2rem;
    text-transform: uppercase;
  }
  h4 {
    text-transform: uppercase;
  }
  .stages {
    margin: 10rem;
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 600px) {
  .list-wrapper {
    .MuiTypography-root {
      font-size: 16px !important;
    }
    .stages {
      margin: 1rem;
      width: 100%;
    }
  }
  .content { 
    margin-bottom: 3rem;
  }
}
