.stage-wrapper {
  margin: 0 2rem;
}

.add-dialog {
  .MuiPaper-root {
    color: #b2bac2;
    background-color: #282c34;
    margin: 1rem;
  }
}

.todo-wrapper {
  padding: 1rem 0;
  transition: background-color 500ms linear;
  border-radius: 5px;
}

.todo-wrapper-moving {
  padding: 1rem 0;
  background-color: rgba(#b2bac2, 0.3);
  border-radius: 5px;
  transition: background-color 500ms linear;
}

.mobile-stage-wrapper {
  h4 {
    margin: 16px 0;
  }
}