.todo {
  width: 20rem;
  .MuiPaper-root {
    color: #b2bac2;
    background-color: #26292f;
    margin: 1rem;
  }
  .status-wrapper {
    padding-top: 1rem;
  }
}

.add-todo{
  width: 14rem;
  margin: 0 3rem;
  .MuiPaper-root {
    color: #b2bac2;
    background-color: #26292f;
    margin: 1rem;
  }
}

.mobile-todo {
    color: #b2bac2 !important;
    background-color: #26292f !important;
  .accordion-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
}